
#fixedbar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 55px;
	background-color: #F2727D;
	z-index: 50;
	display: block;
	box-shadow: 0px 2px 5px #bbbbbb;
}
#fixedbar nav{
	margin: auto;
	text-align: center;
	padding-top: 15px;
}
#fixedbar nav a{
	text-decoration: none;
	color: white;
	font-family: 微软雅黑;
	margin-right:30px;
	margin-left:30px;
}

nav{
	font-size: 14pt;
}
#bar-title{
	float: left;
}
#bar-login{
	float: right;
	display: none;
	position: relative;
	left: 5px;
	top: -10px;
}
#bar-user{
	float: right;
	display: block;
	z-index: 150;
	cursor: pointer;
	font-size: 11pt;
}
#bar-user img{
	width: 60px;
	height: 60px;
	box-shadow: 0px 2px 10px  gray;
	margin-bottom: -25px;
	margin-right: 15px;
}
#user-panel #user-info{
	position: absolute;
	top: 40px;
	left: 50px;
}
#user-panel #orders-link{
	position: absolute;
	top: 80px;
	left: 50px;
}
#user-panel #cart-link{
	font-size: 15pt;
	color: #F2727D;
	position: absolute;
	top: 120px;
	left: 50px;
}
#user-panel #logout-btn{
	font-size: 10pt;
	background-color: #F2727D;
	border-color: #F2727D;
	position: absolute;
	top: 190px;
	left: 130px;
}
#line1, #line2{
	width: 170px;
	height: 1px;
	background-color: #DDDDDD;
}
#line1{
	position: absolute;
	top: 70px;
	left: 40px;
}
#line2{
	position: absolute;
	top: 110px;
	left: 40px;
}

#user-panel{
	width: 250px;
	height: 0px;
	background-color: white;
	position: fixed;
	right: 5px;
	top: 55px;
	z-index: 30;
	transition: height 1s;
	overflow: hidden;
	box-shadow: 0px 2px 5px gray;
	color: gray;
}
#user-panel span{	
	font-size: 12pt;
}

#user-panel a{
	text-decoration: none;
	color: gray;
}