body{
	width: 750px;
	margin: auto;
}

form{
	width: 500px;
	margin: auto;
}

section{
	display: none;
	width: 400px;
	margin: auto;
	margin-top: 50px;
}

#start{
	display: block;
	width: 400px;
	margin: auto;
	margin-top: 150px;
}

#over{
	width: 600px;
	padding: 70px 30px;
}

.center{
	margin-left: 90px;
	text-align: center;
	align-content: center;
}
#nav{
	display: none;
	margin-top: 50px;
}