body{
	width: 920px;
	margin: auto;
}

form{
	width: 500px;
	margin: auto;
}

.control-label{
	float: left;
}
.controls{
	float: right;
}
.control-group{
	width: 320px;
	float: left;
	margin: auto;
	margin-top: 20px;
}
.btn-large{
	margin: auto;
}
.btnf{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.radio{
	margin-right: 100px;
}
section{
	display: none;
	width: 400px;
	margin: auto;
	margin-top: 50px;
}
#step2{
	width: 920px;
}

#start{
	display: block;
	width: 400px;
	margin: auto;
	margin-top: 150px;
}

#over{
	width: 600px;
	padding: 70px 30px;
}

.center{
	margin-left: 90px;
	text-align: center;
	align-content: center;
}
#nav{
	display: none;
	margin-top: 50px;
}
#preview_7{
	width: 200px;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}