#basic_info{
	display: block;
	border: none;
	float:left;
	width: 400px;
	height: 399px;
	margin-left: 40px;
}

#basic_info table{
	margin: auto;
	width: 400px;
	margin-left: 100px;
}

#basic_info table tr{
	height: 45px;
}

#stimediv{
	display: none;
	margin-left: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}