#tags{
	float: left;
	width: 300px;
}
#tag_list{
	width: 50%;
	height: 230px;
	margin: 0px 50px;
	float: left;
	overflow-y: scroll;
}
#tag_input{
	margin-top: 30px;
	margin-bottom: 20px;
}
#tag_btn{
	text-align: center;
}
#tag_list .label{
	margin: 10px;
	float: left;
	font-size: 10pt;
	line-height: 22px;
}
#tags .alert{
	font-size: 14px;
}
