#header {
    text-align: center;
    height: 200px;
    font-family: 微软雅黑;
    background-color: black;
    color: white;
}
#header img{
    margin-top: 40px;
    height: 120px;
}
#top{
    height: 400px;
    width: 100%;
    background-color:#eeeeee;
}

body{
    width: 100%;
    margin: auto;
}
#cont{
    width: 1100px;
    margin: auto;
}

#myCarousel .carousel-inner,#myCarousel .item,#myCarousel img{
    width: 100%;
}

.list-group {
    line-height:30px;
    height: auto;
    width:180px;
    float:left;
    margin-right: 20px;
}

#down{
    margin-top: 30px;
}

#section {
    float: left;
    height: auto;
    width: 800px;  
    padding:10px; 
}

.lamp td {
    width: 300px;
    padding: 10px;
}

.lamp td div{
    width: 280px;
    height: 390px;
    padding: 5px;
    margin: auto;
    border: 1px solid #aaaaaa;
}
.lamp img{
    width: 270px;
    height: 270px;
    height: auto;
    margin: auto;
   /* width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;*/
}
.name{
    overflow:hidden;
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis;
    white-space:nowrap;width:100%;
    color: black;
}

.price {
    font-size: 18px;
    width: 100%
    text-align: right;
    color: black;
}
.price a{
    font-size: 18pt;
    width: 100%
    text-align: right;
    color: red;
    float: right;
    margin-right: 30px;
}


.gouwuche {
    position: fixed;
    top: 0;
    right: 0;
    height: 960px;
    background: black;
}

#purchaseCar {
    text-align: center;
}

#purchaseCar font {
    color: white;
}

#purchaseCar:hover {
    background-color: red;
}

.gouwuche-left {
    width: 30px;
    display: inline-table;
    padding-top: 60px;
}

.gouwuche-right {
    width: 280px;
    background-color: gainsboro;
    display: none;
    height: 960px;
}

.gouwuche-right>ol {
    line-height: 7;
    line
}

.gouwuche-right>ol>li {
    border-bottom: 1px solid
}

.gouwuche-right input {
    margin-left: 100px;
    margin-top: 150px;
    size: 9;
    width: 100px;
    height: 30px;
}
.carousel-inner img{
    width: 1100px;
    height: 400px;
}
.item {
    width: 1100px;
    height: 400px;
}
.modal-dialog{
    width: 300px;
}
