#header img{
    height: 122px;
}
body{
    width: 100%;
    margin: auto;
    margin-top: 55px;
    font-family: 微软雅黑;
}
#cont{
    width: 1200px;
    margin: auto;
}

#myCarousel .carousel-inner,#myCarousel .item,#myCarousel img{
    width: 100%;
}
#shop-introduce {
    line-height:30px;
    background-color: #DCF7A1;
    height: auto;
    width:200px;
    float:left;
    padding:10px; 
    box-shadow: 0px 2px 10px #bbbbbb;
}
#section {
    float: left;
    height: auto;
    width: 800px;  
    padding:10px; 
}

.lamp td {
    width: 290px;
    padding: 20px 15px;
}

.lamp td div{
    width: 280px;
    height: 390px;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 2px 10px #bbbbbb;
   /* border: 1px solid #aaaaaa;*/
}
.lamp img{
    width: 260px;
    height: 260px;
    margin: auto;
   /* width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;*/
}

.good-title a{
    font-size: 11pt;
    color: gray;
    text-decoration: none;
    margin-top: 8px;
}
.good-title a:hover{
    color: #F26A4B;
    text-decoration: none;
}

.name{
    overflow:hidden;
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis;
    white-space:nowrap;width:100%;
    color: black;
}

.price {
    font-size: 18px;
    width: 100%
    text-align: right;
    color: black;
}
.price a{
    font-size: 18pt;
    font-weight: bold;
    width: 100%
    text-align: right;
    color: #F2727D;
    float: right;
    margin-right: 20px;
}
.price a:hover{
    color: #F26A4B;
}
.carousel-inner img{
    width: 1100px;
    height: 400px;
}
.item {
    width: 1100px;
    height: 400px;
}
/*.modal-dialog{
    width: 300px;
}*/
.guide a{
    font-size: 12pt;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.guid a:hover{
    color: #F2727D;
}
.guid ul{
    float: left;
}
.guid .dropdown-menu{
    font-size: 10pt;
}
.search{
    width: 750px;
    float: right;
    padding-left: 470px;
    margin-top: 20px;
}
.searchcont{
    float: left;
    width: 200px;
}
.btn-search{
    float: left;
    margin-left: 20px;
}
#add{
    color: #DDDDDD;
    line-height: 350px;
    text-align: center;
    font-size: 70pt;
    cursor: pointer;
}
#add:hover{
    background-color: #EEEEEE;
    color: white;
}